#kevinhoursb {margin: 0 auto;}

.kv-Title-W{ background:yellowgreen;}
.kv-Title-S{ background:yellow;}
.kv-day-W{ background:yellowgreen;}
.kv-day-H{ background:pink;}
.kv-day-S{ background:yellow;}
.kv-day-otherMonth{ background:whitesmoke;}
.div-kv-day{border:1px solid #F00;max-height:16px;margin:0;} 
.fc-event {opacity: 0.9; transition: none; border-radius: 3px;background:#00FFFF;border:1px solid;}
.kevin-div-desc{ background:whitesmoke;}